.header {
  background: transparent;
  color: $white;
  font-size: 1.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 500ms ease;
  animation: slide-from-top 500ms;

  &.opaque {
    background: $primary-color;
  }

  & a {
    text-decoration: none;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}

.navMenu {
  background: rgba(3, 3, 1, 0.9);
  color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  &-open {
    max-height: 100%;
  }

  &_link {
    display: block;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    margin-bottom: 2px;
    border-left: 0.1rem $primary-color solid;
    transition: border 200ms;

    &:hover {
      border-left: 0.2rem $secondary-color solid;
      cursor: pointer;
    }
    &::active {
      border-left: 0.5rem $secondary-color solid;
      cursor: pointer;
    }
  }
}

.navMenu-lg {
  display: none;
  @include atLarge {
    display: block;
  }
}
.navMenu_link-lg {
  text-decoration: none;
  color: $white;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: all 200ms;

  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

.toggler {
  width: 30px;
  height: 20px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &_line {
    display: block;
    background: $white;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    transform: rotate(0deg);
    transition: all 200ms;
  }
  @include atLarge {
    display: none;
  }
}

.toggler_line-top {
  top: 0px;
  &.open {
    top: 10px;
    transform: rotate(135deg);
  }
}
.toggler_line-middle {
  top: 10px;
  &.open {
    opacity: 0;
    left: -30px;
  }
}
.toggler_line-bottom {
  top: 20px;
  &.open {
    top: 10px;
    transform: rotate(-135deg);
  }
}
