.header {
  background: transparent;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 500ms ease;
  animation: slide-from-top 500ms;

  &.opaque {
    background: $primary-color;
  }
  &_logo {
    font-size: 1.4rem;
    color: $white;
  }

  & a {
    text-decoration: none;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}

.navMenu {
  display: none;
  @include mq(xl) {
    display: block;
  }
  &_link {
    text-decoration: none;
    color: $white;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    transition: all 200ms;
    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

.toggler {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  @include mq(xl) {
    display: none;
  }
  &-container {
    width: 3rem;
    height: 3rem;
    background: darken($white, 2%);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba($black, 0.3);
    position: fixed;
    top: 3.5rem;
    right: 3rem;
    z-index: 2000;
    &:hover {
      cursor: pointer;
    }
    @include mq(xl) {
      display: none;
    }
  }

  &_line {
    display: block;
    background: $primary-color;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    transform: rotate(0deg);
    transition: all 200ms;
    &-top {
      top: 0px;
      &.open {
        top: 10px;
        transform: rotate(135deg);
      }
    }
    &-middle {
      top: 10px;
      &.open {
        opacity: 0;
        left: -30px;
      }
    }
    &-bottom {
      top: 20px;
      &.open {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }
}

.mobileMenu-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: radial-gradient(
    to left bottom,
    rgba(113, 178, 128, 0.95),
    rgba(19, 78, 94, 0.95)
  );
  position: fixed;
  top: 3.8rem;
  right: 3.3rem;
  z-index: 1000;
  transition: all 0.5s;
  @include mq(xl) {
    display: none;
  }
  &.open {
    transform: scale(70);
  }
}

.mobileMenu {
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
  }

  &_link {
    display: block;
    text-decoration: none;
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    margin-bottom: 2px;
    text-shadow: 4px 4px 10px rgba($black, 0.4);
    transition: border 200ms;

    &:hover {
      cursor: pointer;
      color: $secondary-color;
      text-shadow: 6px 6px 10px rgba($black, 0.4);
    }
  }
}
