.btn {
  background: $primary-color;
  border: none;
  outline: none;
  color: $white;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: $radius;
  transition: all 200ms;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: $white;
    color: $primary-color;
  }

  &-green {
    color: $primary-color;
    background: $white;
    &:hover {
      background: $green;
    }
    &:active {
      background: lighten($green, 5%);
    }
  }
}
