.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 0.2rem;
  color: $black;
  font-weight: bold;
  border-radius: $radius;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
  }

  &-code {
    background-color: $primary-color;
    color: $white;
    font-size: 0.9rem;
    &:hover {
      background-color: $secondary-color;
      color: darken($white, 5%);
    }
    &:active {
      background-color: lighten($secondary-color, 5%);
    }
  }

  &-inverted {
    background-color: $white;
    color: $primary-color;
    &:hover {
      background-color: $secondary-color;
      color: lighten($primary-color, 5%);
    }
    &:active {
      background-color: lighten($secondary-color, 5%);
      transform: translateY(0);
    }
  }
}
