.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background: $white;
  overflow: hidden;
  animation: scale-up 500ms;
  box-shadow: 2px 2px 10px rgba($black, 0.2);
  border-radius: $radius;
  transition: all 500ms;
  &:hover {
    box-shadow: 4px 4px 10px rgba($black, 0.2);
    transform: translateY(-2px);
  }

  &_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: grayscale(30%);
    transition: all 200ms;
    &:hover {
      filter: grayscale(0%);
    }
    &:active {
      transform: scale(1.025);
    }
  }
  &_body {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
