.upArrow {
  padding: 1.1rem 1.2rem;
  text-align: center;
  background: $secondary-color;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba($black, 0.3);
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 7%;
  z-index: 10;
  animation: scale-up 1s;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background: $white;
    color: $secondary-color;
    cursor: pointer;
  }
}
