.skills {
  list-style: none;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $dark;
  animation: slide-from-top 1000ms;
  @include atMedium {
    padding: 1rem 2rem;
  }
  @include atLarge {
    padding: 2rem 3rem;
  }
  @include atXL {
    padding: 2rem 4rem;
  }

  & li {
    margin: 0.3rem;
    display: flex;
    align-items: flex-start;
    color: $white;
    padding: 0.5rem;
  }

  &_icon {
    display: block;
    width: 1rem;
    margin-right: 0.5rem;
    margin-left: 0;
  }
}
