.upArrow {
  position: fixed;
  padding: 1.3rem;
  border-radius: 50%;
  background: $secondary-color;
  color: $white;
  text-decoration: none;
  z-index: 8;
  font-weight: bold;
  bottom: 10%;
  right: 5%;
  animation: scale-up 1s;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background: $white;
    color: $secondary-color;
    cursor: pointer;
  }
}
