.upArrow {
  position: fixed;
  padding: 1.3rem;
  border-radius: 50%;
  background: #ed474a;
  color: #eef0f2;
  text-decoration: none;
  z-index: 8;
  font-weight: bold;
  bottom: 10%;
  right: 5%;
  animation: scale-up 1s;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background: #eef0f2;
    color: #af5d63;
    cursor: pointer;
  }
}
