.hero {
  width: 100%;
  height: 100vh;
  background: #134e5e;
  background: -webkit-linear-gradient(to top, #71b280, #134e5e);
  background-image: linear-gradient(
      to right bottom,
      rgba(113, 178, 128, 0.8),
      rgba(19, 78, 94, 0.8)
    ),
    url(../assets/images/code.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  animation: slide-from-top 750ms;

  &_content {
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 1px;
    width: 90%;
    border-radius: $radius;
    max-width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 0.8rem;
    animation: fade-in 2s;
  }

  &_text {
    text-align: justify;
  }
}

.date-time-container {
  min-height: 3rem;
  animation: fade-in 1s;
}
.date,
.time {
  font-family: 'Squada One', cursive;
  font-weight: 100;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
