// classes are named based on BEM methodology
@import './base/_variables';
@import './base/_mixins';
@import './base/_keyframes';
@import './base/_global';
@import './base/_btn';
@import './base/_links';
@import './partials/_header';
@import './partials/_showcase';
@import './partials/_skills';
@import './partials/_projects';
@import './partials/_footer';
@import './partials/_contactForm';
@import './partials/_upArrow';
@import './base/_jsHooks';
