.btn {
  background: $primary-color;
  border: none;
  outline: none;
  color: $white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 200ms;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: $white;
    color: $primary-color;
  }

  &-green {
    color: $primary-color;
    background: $white;
    &:hover {
      background: $green;
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba($black, 0.3);
    }
    &:active {
      background: darken($green, 5%);
      transform: translateY(0);
    }
  }
}
