@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Squada+One');

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: $secondary-color;
  color: $white;
}

::placeholder {
  color: darken($white, 20%);
  opacity: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $bg-color;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include mq(small) {
    max-width: 670px;
  }
  @include mq(medium) {
    max-width: 850px;
  }
  @include mq(large) {
    max-width: 950px;
  }
  @include mq(xl) {
    max-width: 1150px;
  }
}

.section {
  margin-top: 1.5rem;
}
