@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Squada+One');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: $secondary-color;
  color: $white;
}

::placeholder {
  color: darken($white, 20%);
  opacity: 1;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
}
