.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 400ms;
  margin-right: 0.2rem;
  color: $black;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }

  &-code {
    background: $primary-color;
    color: $white;
    font-size: 0.9rem;
    &:active {
      background: $secondary-color;
      color: $white;
    }
  }

  &-inverted {
    background: $white;
    color: $primary-color;
    &:active {
      background: $secondary-color;
      color: $white;
    }
  }
}
