.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 0.2rem;
  color: $black;
  font-weight: bold;
  transition: all 400ms;
  &:hover {
    cursor: pointer;
  }

  &-code {
    background: $primary-color;
    color: $white;
    font-size: 0.9rem;
    &:hover {
      background: lighten($primary-color, 10%);
    }
    &:active {
      background: $secondary-color;
      color: $white;
    }
  }

  &-inverted {
    background: $white;
    color: $primary-color;
    &:hover {
      background: $secondary-color;
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba($black, 0.3);
    }
    &:active {
      background: darken($secondary-color, 5%);
      transform: translateY(0);
    }
  }
}
